html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: "SF UI Text", sans-serif;
  /* указать шрифт под проект*/
  font-size: 20px;
  font-weight: 500;
  color: $black; /*цвет под ваш проект*/
  background-color: $white; /*цвет под ваш проект*/
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*
Пример контейнера
Если контейнер 1080px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px;
}

/*
У секции добавляю вертикальные паддинги,
это половина от расстояния между блоками
*/

.main__section {
  padding: 70px 0;
}

.btn {
  cursor: pointer;
  padding: 18px 23px;
  background: $blue;
  color: $white;
  border: none;
  border-radius: 30px;
  transition: all 0.3s;
  border: 1px solid transparent;

  &:hover {
    background: $white;
    color: $blue;
    border: 1px solid $blue;
  }
}

@media (max-width: 800px) {
  .btn {
    font-size: 18px;
  }
}
